<!DOCTYPE html>
	<html>
  <head>
  <style>
  * {
    box-sizing: border-box;
  }

  .column {
    float: left;
    width: 50%;
    padding: 5px;
  }

  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  </style>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
					{% for menu in site.t[page.lang] %}
						<li><a href="{{ menu[1].url }}">{{ menu[1].name }}</a></li>
					{% endfor %}
					<a href="en">
						<img src="/assets/english.jpg" width="23" height="=14">
					</a>
					<a href="de">
						<img src="/assets/deutsch.png" width="20" height="=12">
					</a>
    		</ul>
		</nav>
		<div class="container">

		{{ content }}




    <div class="row">
      <div class="column">
        <a href="{{ site.s[page.lang].horse.url }}">
        <img src="/assets/ShooterRiver.jpg" style="width:100%">
        {{ site.s[page.lang].horse.name }}
        </a>
      </div>
      <div class="column">
        <a href="{{ site.s[page.lang].maths.url }}">
        <img src="/assets/Maths.jpg" style="width:100%">
        {{ site.s[page.lang].maths.name }}
        </a>
      </div>
    </div>


    <br>
		<br>
		</div>
		<footer>
    		<ul>
        		<li><a href="mailto:carina.x.fiedler@gmail.com">email</a></li>
        		<li><a href="https://github.com/cfied">github.com/cfied</a></li>
			</ul>
		</footer>
	</body>
</html>
