<!DOCTYPE html>
	<html>
  <head>
  <style>
  * {
    box-sizing: border-box;
  }

  .column {
    float: left;
    width: 50%;
    padding: 5px;
  }

  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  </style>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/cv">CV</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">

		{{ content }}




    <div class="row">
      <div class="column">
        <a href="/cv">
        <img src="/assets/ShooterRiver.jpg" style="width:100%">
        Do you want to know why horses are great?
        </a>
      </div>
      <div class="column">
        <a href="/cv">
        <img src="/assets/Maths.jpg" style="width:100%">
        </a>
      </div>
    </div>


    <br>
		<br>
		</div>
		<footer>
    		<ul>
        		<li><a href="mailto:carina.x.fiedler@gmail.com">email</a></li>
        		<li><a href="https://github.com/cfied">github.com/cfied</a></li>
			</ul>
		</footer>
	</body>
</html>
