<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
						  {% for menu in site.t[page.lang] %}
						    <li><a href="{{ menu[1].url }}">{{ menu[1].name }}</a></li>
						  {% endfor %}
							{% if page.ref == "home" %}
								<a href="/">
									<img src="/assets/english.jpg" width="23" height="=14">
								</a>
							{% else %}
								<a href="en">
									<img src="/assets/english.jpg" width="23" height="=14">
								</a>
							{% endif %}
							<a href="de">
								<img src="/assets/deutsch.png" width="20" height="=12">
							</a>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}
			<br>
			<br>
			</div>
			<footer>
	    		<ul>
	        		<li><a href="mailto:carina.x.fiedler@gmail.com">email</a></li>
	        		<li><a href="https://github.com/cfied">github.com/cfied</a></li>
				</ul>
			</footer>
		</body>
	</html>
